.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 5px 1px;
    padding: 3px;
    border-radius: 10px;
    background-color: #282c34;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.media:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px rgb(46, 45, 45);
}

@media(max-width:550px) {
    .media {
        /* width: 60%; */
        width: 46%;
    }
}

.title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.subtitle {
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
    font-size: 16px;
    padding: 0 2px;
    padding-bottom: 3px;   
    justify-content: center;
}
.poster {
    border-radius: 10px;
}